@{
    Layout = null;
}
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>de_bug</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Content/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link href="~/Content/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/datatables-select/css/select.bootstrap4.min.css" rel="stylesheet" />

</head>
<body class="hold-transition register-page">
    <div class="login-box">
        <div class="login-logo">
            <h1>Budget Tracker</h1>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Create a Household</p>
                <div class="form-horizontal">
                    @using (Html.BeginForm("Create", "Households", FormMethod.Post, new { id = "createGroupForm"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("createBudgets", true, new { id = "hiddenCreateBudgetsId"})
                        <div class="form-horizontal">
                            <div class="input-household mb-3">
                                <input name="householdName" class="form-control" placeholder="Name" />
                                <div class="input-household-append">
                                    <div class="input-household-text">
                                        <span class="fas fa-users"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- /.col -->
                                <div class="col-12">
                                    <a class="btn btn-primary btn-block btn-flat" style="color: white" data-toggle="modal" data-target="#waitModal">
                                        Create Household
                                    </a>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>


                        <!-- Leave Household Modal -->
                        <div id="waitModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <div style="text-align: center" class="col">
                                            <h3 class="modal-title" style="font-weight: bold">Wait!</h3>
                                        </div>
                                    </div>
                                    <div class="modal-body" style="text-align: center">
                                        <h5>Three budgets have been created for you! If you want them be sure to give them values before starting!<br /><i class="far fa-smile pt-3"></i></h5>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <a class="btn btn-danger mr-auto" style="width: 100%; color: white; cursor: pointer" onclick="iDontWantThese()">
                                            I don't want these!
                                        </a>
                                        <button type="submit" class="btn btn-success" style="width: 100%">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!--<div class="social-auth-links text-center mb-3">
                  <p>- OR -</p>
                  <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                  </a>
                  <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                  </a>
                </div>-->
                <!-- /.social-auth-links -->
                <p class="mb-1" style="padding-top: 5%">
                    <a href=@Url.Action("ForgotPassword", "Account")>I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href=@Url.Action("RegisterNewUser", "Account")>Register a new account</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>




    





    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Scripts/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Scripts/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Scripts/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Scripts/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Scripts/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Scripts/moment/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Scripts/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Scripts/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Scripts/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->


    <script src="~/Scripts/dist/js/adminlte.js"></script>

    <script>
        $(document).ready(function () {

            $(".dropdown-item").click(function () {
                var text = $(this).text();
                $("#dropdownButton").text($(this).text());
                $("#dropdownButton").val($(this).text());
                $("#hiddenIncomeType").val(text)
                incomeIsSelected = true
            });

        })

        function createGroup() {
            $("#custom-tabs-two-messages-tab").click();
        }

        function createBanks() {
            $("#custom-tabs-two-settings-tab").click();
        }

        function iDontWantThese() {
            $("#hiddenCreateBudgetsId").val(false);
            $("#createGroupForm").submit();
        }

    </script>




</body>
</html>











